* {
    margin: 0;
    border: 0;

}


.img-episodios-lg {
    flex-wrap: wrap;
    max-width: 500px;
    display: grid;
    grid-gap: 40px;
    text-align: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img-episodios-xs {
    display: none;
}

.titulo-episodios {
    margin: 0 0 30px 250px;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.img-lg {
    width: 584px;
    height: 232px;
}

.episodios {
    flex-wrap: wrap;
    display: grid;
    align-content: center;
    width: 100%;
    height: 1042px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    z-index: 0;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.episodios>div {
    justify-self: center;
    align-self: center;
}

.img-phone {
    width: 390px;
    height: 600px;
    position: absolute;
    z-index: 1;
    margin: -170px 50px 0 220px;
}

.title-phone {
    margin-left: 600px;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
}

.description-phone {
    margin-left: 600px;
    width: 401px;
    font-size: 14px;
}

.contenedor-phone {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    justify-content: end;
}

@media (max-width: 1252px) {

    .contenedor-phone{
        margin-top: 150px;
    }


    .img-episodios-lg {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .episodios {
        height: 1203px;
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    }
}

@media (max-width: 768px) {
    .img-xs {
        height: 160px;
        width: 100%;
    }

    .episodios {
        height: 910px;
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    }

    .img-episodios-xs {
        display: block;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    
    .img-episodios-lg {
        display: none;
    }

    .titulo-episodios {
        margin-left: 50px;
        font-size: 36px;
        color: #fff;
        letter-spacing: 0;
        line-height: 42px;
    }

    .img-phone {
        text-align: center;
        width: 100%;
        margin: -210px 0 0 0;

    }

    .title-phone {
        margin: 0;
        margin-top: 390px;
        padding: 0px 20px;
        font-size: 36px;
    }

    .description-phone {
        padding: 0 5%;
        margin: 0;
        text-align: left;
        width: 100%;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }

    .contenedor-phone {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}